@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-image: url("https://i.pinimg.com/originals/e4/98/1a/e4981a3dd4aa2fa6f0bc84cde9087c7a.jpg");
  color: #555;
  text-align: center;

}

header {
  display: block;
  /* border-style:solid; */
  border-width: 2px 2px 2px 2px;
  text-align: center;
  font-size: 30pt;
  margin: auto;
  background-color: #393e46;
  color: #eeeeee;
}

section {
  display: inline-block;
  margin: auto;
  box-sizing: border-box;
  width: 40%;
  height: 100%;
  padding: 0.5% 3%;
  font-style: italic;
}

aside {
  display: inline-block;
  width: 58%;
  height: 100%;
  float: right;
  clear: both;
  padding-right: 5%;
}

.ct {
  background: black;
  display: inline-block;
  border: 2px solid #28bd40;
}

.gd {
  display: grid;
  grid-template-columns: repeat(12, 3vw);
  grid-template-rows: repeat(12, 7vh);
  grid-gap: 0.2vh;
  background-color: #28bd40;
}

.cell {
  background: #282828;
  border: #bbb;
}

.flip-card {
  background-color: transparent;
  width: 50vw;
  height: 80vh;
  perspective: 1000px;
  float: right;
  font-family: "Montserrat","sans-serif";

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 10vh;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5%;
}

.flip-card-front {
  /* background-color: #bbb; */
  color: black;
  padding: 5px;
  background-image: url(https://media0.giphy.com/media/XBpUGMmoGM4DVHoRMZ/source.gif);
  width:500px;
  height:300px
}

.flip-card-back {
  background-color: #76ead7;
  color: white;
  background: #441c1c;
  color: #fff;
  transform: rotateY(180deg);
  padding: 5px;
}
/* 
palette:
#c4fb6d
#bbb
#eeeeee
#393e46
#76ead7
#adf7ea
 */