<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roopa Vidhya G</title>
    <link rel="stylesheet" href="particles.styles.css" />
    <link rel="stylesheet" href="index.styles.css" />
</head>

<body>

    <div class="nav-bar">

    </div>
    <div class="header">
        <!-- particles.js container -->
        <div id="particles-js">
            <p>Roopa Vidhya G</p>
        </div>
        <svg class="arrows" onclick="scrollDown()">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
    </div>
    <div id="education">
        <div class="section-title">
            Education
        </div>
        <div class="rb-container">
            <ul class="rb">
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                  2018-2022
                </div>
                <div class="item-title">
                    Amrita Vishwa Vidyapeetham,Coimbatore<br>
                    B.Tech in Computer Science and Engineering<br>
                    Current CGPA 9.75<br>
                </div>
      
              </li>
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                    2017-2018
                </div>
                <div class="item-title">
                    National Public School, Gopalapuram<br>
                    12th CBSE Board, 96.8%<br>
                    Stream: Physics/Chemistry/Maths/C++<br>
                    School Second Rank Holder
                </div>
      
              </li>
      
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                    2015-2016
                </div>
                <div class="item-title">
                    National Public School, Gopalapuram<br>
                    10th CBSE Board, CGPA 10.0
                </div>
      
              </li>
      
            </ul>
      
          </div>
    </div>
    <div id="projects">

    </div>
    <div id="experience">

    </div>
    <div id="extra-curriculars">

    </div>
    <div id="contact">

    </div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="particles.js"></script>
    <script src="index.js"></script>
</body>

</html>