#particles-js {
    position: flex;
    width: 100%;
    height: 100%;
    background-color: #11052C;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #particles-js-canvas-el{
    position: absolute;
  }
