@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

section {
  float: left;
  width: 1%;
  height: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  position: absolute;
  background: #8F8989;
  display: inline-block;
  border: 5px #8F8989;
}
div.space{
  height: 10rem;
}
.button{
  color:black;
  height: 30px;
  width: 100px;
  background:rgb(221, 156, 156);
  font-size: 16px;
  
}

.grid {

  display: grid;  
  grid-template-columns: repeat(10, 40px);  
  grid-template-rows: repeat(10, 40px);
  grid-gap: 5px;
}

.cell {
  color:black;
  align-items: center;
  font-size: smaller;
  font-style: italic;
  background: white;
}

body {
  color: #555;
  background: #222;
  text-align: center;
  font-family: 'Roboto Mono';
  padding: 1em;
  font-size: 30px;
}
