body{
    margin: 0px;
}

/* Name */
#particles-js p{
    position: absolute;
    font-family: monospace;
    font-size: 5em;
    color: #F0E3CA;
    max-width: max-content;
}

#particles-js p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #FFE459; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FFE459; }
}

/* Scrolldown Arrows */
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #F0E3CA;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* Section Heading */
.section-title{
  color: #F0E3CA;
  font-size: 2em;
  padding: 10rem 0rem 0em 5rem;
  font-family: sans-serif;
}
/* Timeline */
#education{
  background-color: #11052C;
}
.rightbox {
  padding: 0em 10rem 0em 0em;
  height: 100%;
}

.rb-container {
  font-family: "PT Sans", sans-serif;
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
}

.rb-container ul.rb {
  margin: 2.5em 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  margin-left: 5em;
  min-height: 50px;
  border-left: 1px dashed #F0E3CA;
  padding: 0 0 50px 30px;
  position: relative;
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -5px;
  content: " ";
  border-radius: 500%;
  background: #FFE459;
  height: 10px;
  width: 10px;
}

.rb-container ul.rb li:hover::before {
  border-color: #232931;
  transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
  color: #FFE459;
  position: relative;
  width: 100px;
  font-size: 12px;
}

.item-title {
  color: #F0E3CA;
}

