body{
  background-color: #3A3939;
}

header{
  color:white;
  font-size:40px;
  text-align: center;
  height:25%;
}


section {
  display:inline-block;
  margin-top:5px;
  box-sizing: border-box;
  float: left;
 
  height:55%;
  width:55%;
 
  font-style: italic;
 
}

aside{
  font-size:25px;
  display:inline-block;
  float: right;
  clear:both;
  width:40%;
  height:50%;
  margin-top:5px;
  color:white;
 
 
}

.container {
  background: black;
  display: inline-block;
  border: 5px solid black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-template-rows: repeat(12,70px);
  grid-gap: 2px;
 
}

.cell {
 background: white;
}
button {
  background-color: #00FFFF; 
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom:20px;
 
}
